#logo {
	height:177px;
	width:886px;
}
#logodiv {
	margin-left:auto;
	margin-right:auto;
	width:50%;
	height:177px;
}
button {
	width:20px;
	height:15px;
}
canvas {
	border:#666 1px solid;
}
div#container {height:500px;width:500px;}
div.a {
width: 50px;
height:50px;
background-color:#ffffff;
position:fixed;
top:100px;
left:100px;
}
div.b {
width: 50px;
height:50px;
 background-color:#ffffff;
position:fixed;
    top:10px;
    left:10px;
}
div.c {
width: 50px;
height:50px;
 background-color:#ffffff;
position:fixed;
    top:200px;
    left:100px;
}